<ion-app>
  <ion-menu
    *ngIf="!isPublicPage"
    side="start"
    menuId="main-menu"
    contentId="main-content"
    type="overlay"
    class="app-rail"
  >
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item
            [routerLink]="p.url"
            routerDirection="root"
            [class.active]="selectedPath === p.url"
            button
          >
            <mat-icon slot="start">{{ p.icon }}</mat-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item button (click)="logout()" lines="none" class="logout-item">
            <mat-icon slot="start" style="color: #ef4444;">logout</mat-icon>
            <ion-label style="color: #ef4444;">Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <div *ngIf="!isPublicPage" class="app-shell">
    <nav class="rail-desktop">
      <ul>
        <li *ngFor="let p of appPages" [class.active]="selectedPath === p.url">
          <a [routerLink]="p.url">
            <mat-icon>{{ p.icon }}</mat-icon>
          </a>
        </li>

        <li style="margin-top: auto; cursor: pointer;" (click)="logout()">
          <a title="Sair">
            <mat-icon style="color: #ef4444;">logout</mat-icon>
          </a>
        </li>
      </ul>
    </nav>

    <div class="main-content" id="main-content">
      <ion-header class="app-header" *ngIf="!isPublicPage">
        <ion-toolbar>
          <ion-buttons slot="start" class="show-mobile">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>

          <div class="search-container">
            <ion-searchbar placeholder="Buscar..." animated></ion-searchbar>
          </div>

          <ion-buttons slot="end">
            <ion-button>
              <mat-icon>notifications_none</mat-icon>
            </ion-button>
            <!-- 🔥 AVATAR CORRIGIDO: Removido temporariamente -->
            <ion-button [routerLink]="['/barber/profile']">
              <mat-icon>account_circle</mat-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-router-outlet></ion-router-outlet>

      <ion-fab
        *ngIf="showFab && !isPublicPage"
        slot="fixed"
        vertical="bottom"
        horizontal="end"
        class="main-fab"
      >
        <ion-fab-button (click)="onFabClick()">
          <mat-icon>add</mat-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>

  <div *ngIf="isPublicPage" class="public-page-wrapper">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
