node_modules
npm-debug.log
dist
.env
.env.*
!.env.example
.git
.gitignore
README.md
.vscode
.idea
.vs
coverage
*.log
.DS_Store
test
**/.classpath
**/.dockerignore
**/.project
**/.settings
**/.toolstarget
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
