.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;

  h2 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 24px;
    color: var(--ion-color-medium);
  }
}
