<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="forgot-password-container">
    <h2>Esqueceu a Senha?</h2>
    <p>Em desenvolvimento...</p>

    <ion-button expand="block" (click)="goToLogin()">
      Voltar para Login
    </ion-button>
  </div>
</ion-content>
