<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/barber/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Alterar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="password-content ion-padding">
  <form [formGroup]="passwordForm" (ngSubmit)="submit()" class="password-form">
    
    <div class="form-card">
      <div class="custom-input-group">
        <label>Senha Atual</label>
        <ion-input 
          class="custom-input" 
          type="password" 
          formControlName="currentPassword"
          placeholder="Digite sua senha atual"
        ></ion-input>
      </div>

      <div class="custom-input-group">
        <label>Nova Senha</label>
        <ion-input 
          class="custom-input" 
          type="password" 
          formControlName="newPassword"
          placeholder="Mínimo 6 caracteres"
        ></ion-input>
      </div>
    </div>

    <div class="form-actions">
      <ion-button 
        expand="block" 
        type="submit" 
        class="save-btn" 
        [disabled]="!passwordForm.valid || loading"
      >
        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">CONFIRMAR ALTERAÇÃO</span>
      </ion-button>
    </div>

  </form>
</ion-content>